# Archivos y carpetas generados por Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Archivos y carpetas de compilación de .NET
bin/
obj/

# Archivos de configuración del entorno
*.config
*.env

# Archivos de logs y temporales
*.log
*.tmp

# Archivos y carpetas generados por herramientas de terceros
node_modules/
*.nupkg
*.vsix